asgiref==3.10.0
asyncio==4.0.0
channels==4.3.1
channels_redis==4.3.0
Django==5.2.8
docopt==0.6.2
gevent==25.9.1
greenlet==3.2.4
msgpack==1.1.2
paho-mqtt==2.1.0
passlib==1.7.4
PyYAML==6.0.3
redis==7.0.1
six==1.17.0
sqlparse==0.5.3
transitions==0.9.3
websocket==0.2.1
websockets==15.0.1
zope.event==6.1
zope.interface==8.1
